{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Online Banking REST API",
    "description" : "Public API.",
    "version" : "V1"
  },
  "servers" : [ {
    "url" : "http://netbanking.apisec.ai:8080/"
  } ],
  "paths" : {
    "/api/v1/transfers" : {
      "get" : {
        "description" : "findAllTransfers",
        "operationId" : "GET_api-v1-transfers",
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "description" : "update",
        "operationId" : "PUT_api-v1-transfers",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Transfers",
                "type" : "object",
                "properties" : {
                  "transactionType" : {
                    "title" : "TransactionType",
                    "type" : "string",
                    "enum" : [ "DEPOSIT", "WITHDRAW", "CHARGE", "ATM", "ONLINE", "POS", "TRANSFER", "CHECK" ]
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "location" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "confirmed" : {
                    "type" : "boolean"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "post" : {
        "description" : "add",
        "operationId" : "POST_api-v1-transfers",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Transfers",
                "type" : "object",
                "properties" : {
                  "transactionType" : {
                    "title" : "TransactionType",
                    "type" : "string",
                    "enum" : [ "DEPOSIT", "WITHDRAW", "CHARGE", "ATM", "ONLINE", "POS", "TRANSFER", "CHECK" ]
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "location" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "confirmed" : {
                    "type" : "boolean"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/primary-account/deposit-amount/{id}" : {
      "put" : {
        "description" : "deposit",
        "operationId" : "PUT_api-v1-primary-account-deposit-amount-id",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "PrimaryAccount",
                "type" : "object",
                "properties" : {
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "accountType" : {
                    "title" : "AccountType",
                    "type" : "string",
                    "enum" : [ "SAVING", "CURRENT", "CREDIT" ]
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "accountBalance" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "accountNumber" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "id",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/users/team-sign-up" : {
      "post" : {
        "description" : "teamSignUp",
        "operationId" : "POST_api-v1-users-team-sign-up",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Users",
                "type" : "object",
                "properties" : {
                  "privileges" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "credentialsNonExpired" : {
                    "type" : "boolean"
                  },
                  "jobTitle" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "enabled" : {
                    "type" : "boolean"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "accountNonExpired" : {
                    "type" : "boolean"
                  },
                  "company" : {
                    "type" : "string"
                  },
                  "location" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "accountNonLocked" : {
                    "type" : "boolean"
                  },
                  "username" : {
                    "type" : "string"
                  }
                },
                "description" : "users"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/bank-account" : {
      "get" : {
        "description" : "findAllBankAccount",
        "operationId" : "GET_api-v1-bank-account",
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "description" : "update",
        "operationId" : "PUT_api-v1-bank-account",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "BankAccount",
                "type" : "object",
                "properties" : {
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "accountBalance" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "accountNumber" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "user" : {
                    "title" : "NameDto",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "post" : {
        "description" : "add",
        "operationId" : "POST_api-v1-bank-account",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "BankAccount",
                "type" : "object",
                "properties" : {
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "accountBalance" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "accountNumber" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "user" : {
                    "title" : "NameDto",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/orgs" : {
      "get" : {
        "description" : "findAll",
        "operationId" : "GET_api-v1-orgs",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "page",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "post" : {
        "description" : "create",
        "operationId" : "POST_api-v1-orgs",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Org",
                "type" : "object",
                "properties" : {
                  "orgPlan" : {
                    "title" : "OrgPlan",
                    "type" : "string",
                    "enum" : [ "FREE", "PRO", "TEAM", "BASIC", "BUSINESS", "ENTERPRISE", "PAY_AS_YOU_GO" ]
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "orgType" : {
                    "title" : "OrgType",
                    "type" : "string",
                    "enum" : [ "PERSONAL", "TEAM", "ENTERPRISE" ]
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "billingEmail" : {
                    "type" : "string"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "company" : {
                    "type" : "string"
                  },
                  "location" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/branches/update" : {
      "put" : {
        "description" : "update",
        "operationId" : "PUT_api-v1-branches-update",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Branch",
                "type" : "object",
                "properties" : {
                  "access" : {
                    "type" : "string"
                  },
                  "branchName" : {
                    "type" : "string"
                  },
                  "atmAtBranch" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "branchMediatedServiceName" : {
                    "type" : "string"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "customerSegment" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "faxNumber" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "branchType" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/products/{id}" : {
      "get" : {
        "description" : "findById",
        "operationId" : "GET_api-v1-products-id",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "delete" : {
        "description" : "delete",
        "operationId" : "DELETE_api-v1-products-id",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "204" : {
            "description" : "No Content"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "id",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/primary-account/primary-account" : {
      "get" : {
        "description" : "findAllPrimaryAccount",
        "operationId" : "GET_api-v1-primary-account-primary-account",
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "description" : "update",
        "operationId" : "PUT_api-v1-primary-account-primary-account",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "PrimaryAccount",
                "type" : "object",
                "properties" : {
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "accountType" : {
                    "title" : "AccountType",
                    "type" : "string",
                    "enum" : [ "SAVING", "CURRENT", "CREDIT" ]
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "accountBalance" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "accountNumber" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "post" : {
        "description" : "add",
        "operationId" : "POST_api-v1-primary-account-primary-account",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "PrimaryAccount",
                "type" : "object",
                "properties" : {
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "accountType" : {
                    "title" : "AccountType",
                    "type" : "string",
                    "enum" : [ "SAVING", "CURRENT", "CREDIT" ]
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "accountBalance" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "accountNumber" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/branches/{id}" : {
      "get" : {
        "description" : "findBranchById",
        "operationId" : "GET_api-v1-branches-id",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "delete" : {
        "description" : "deleteById",
        "operationId" : "DELETE_api-v1-branches-id",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "204" : {
            "description" : "No Content"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "id",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/bank-account/withdraw-amount" : {
      "put" : {
        "description" : "withdraw",
        "operationId" : "PUT_api-v1-bank-account-withdraw-amount",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "BankAccount",
                "type" : "object",
                "properties" : {
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "accountBalance" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "accountNumber" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "user" : {
                    "title" : "NameDto",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/orgs/{branchId}/branch-user/{orgUserId}" : {
      "get" : {
        "description" : "findOrgUserById",
        "operationId" : "GET_api-v1-orgs-branchId-branch-user-orgUserId",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "parameters" : [ {
        "name" : "orgUserId",
        "in" : "path",
        "description" : "orgUserId",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "branchId",
        "in" : "path",
        "description" : "branchId",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/issues/ui" : {
      "put" : {
        "description" : "updateFromUI",
        "operationId" : "PUT_api-v1-issues-ui",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Issue",
                "type" : "object",
                "properties" : {
                  "responseBody" : {
                    "type" : "string"
                  },
                  "issueName" : {
                    "type" : "string"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "project" : {
                    "title" : "Project",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "org" : {
                        "title" : "NameDto",
                        "type" : "object",
                        "properties" : {
                          "createdDate" : {
                            "type" : "string",
                            "format" : "date-time"
                          },
                          "inactive" : {
                            "type" : "boolean"
                          },
                          "createdBy" : {
                            "type" : "string"
                          },
                          "modifiedDate" : {
                            "type" : "string",
                            "format" : "date-time"
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "modifiedBy" : {
                            "type" : "string"
                          },
                          "id" : {
                            "type" : "string"
                          },
                          "version" : {
                            "type" : "integer",
                            "format" : "int64"
                          }
                        }
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "description" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "refId" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "assignedTo" : {
                    "type" : "string"
                  },
                  "result" : {
                    "type" : "string"
                  },
                  "issueStatus" : {
                    "title" : "IssueStatus",
                    "type" : "string",
                    "enum" : [ "OPEN", "CLOSED" ]
                  },
                  "endpoint" : {
                    "type" : "string"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "requestBody" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "assertions" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "headers" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "method" : {
                    "title" : "Method",
                    "type" : "string",
                    "enum" : [ "GET", "HEAD", "POST", "PUT", "PATCH", "DELETE", "OPTIONS", "TRACE" ]
                  },
                  "failedAssertions" : {
                    "type" : "string"
                  },
                  "env" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "tags" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "issueType" : {
                    "title" : "IssueType",
                    "type" : "string",
                    "enum" : [ "MANUAL", "AUTOMATIC" ]
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "responseHeaders" : {
                    "type" : "string"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "statusCode" : {
                    "type" : "string"
                  }
                },
                "description" : "dto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "post" : {
        "description" : "addFromUI",
        "operationId" : "POST_api-v1-issues-ui",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Issue",
                "type" : "object",
                "properties" : {
                  "responseBody" : {
                    "type" : "string"
                  },
                  "issueName" : {
                    "type" : "string"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "project" : {
                    "title" : "Project",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "org" : {
                        "title" : "NameDto",
                        "type" : "object",
                        "properties" : {
                          "createdDate" : {
                            "type" : "string",
                            "format" : "date-time"
                          },
                          "inactive" : {
                            "type" : "boolean"
                          },
                          "createdBy" : {
                            "type" : "string"
                          },
                          "modifiedDate" : {
                            "type" : "string",
                            "format" : "date-time"
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "modifiedBy" : {
                            "type" : "string"
                          },
                          "id" : {
                            "type" : "string"
                          },
                          "version" : {
                            "type" : "integer",
                            "format" : "int64"
                          }
                        }
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "description" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "refId" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "assignedTo" : {
                    "type" : "string"
                  },
                  "result" : {
                    "type" : "string"
                  },
                  "issueStatus" : {
                    "title" : "IssueStatus",
                    "type" : "string",
                    "enum" : [ "OPEN", "CLOSED" ]
                  },
                  "endpoint" : {
                    "type" : "string"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "requestBody" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "assertions" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "headers" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "method" : {
                    "title" : "Method",
                    "type" : "string",
                    "enum" : [ "GET", "HEAD", "POST", "PUT", "PATCH", "DELETE", "OPTIONS", "TRACE" ]
                  },
                  "failedAssertions" : {
                    "type" : "string"
                  },
                  "env" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "tags" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "issueType" : {
                    "title" : "IssueType",
                    "type" : "string",
                    "enum" : [ "MANUAL", "AUTOMATIC" ]
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "responseHeaders" : {
                    "type" : "string"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "statusCode" : {
                    "type" : "string"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/users/enterprise-sign-up" : {
      "post" : {
        "description" : "enterpriseSignUp",
        "operationId" : "POST_api-v1-users-enterprise-sign-up",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Users",
                "type" : "object",
                "properties" : {
                  "privileges" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "credentialsNonExpired" : {
                    "type" : "boolean"
                  },
                  "jobTitle" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "enabled" : {
                    "type" : "boolean"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "accountNonExpired" : {
                    "type" : "boolean"
                  },
                  "company" : {
                    "type" : "string"
                  },
                  "location" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "accountNonLocked" : {
                    "type" : "boolean"
                  },
                  "username" : {
                    "type" : "string"
                  }
                },
                "description" : "users"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/users/personal-sign-up" : {
      "post" : {
        "description" : "personalSignUp",
        "operationId" : "POST_api-v1-users-personal-sign-up",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Users",
                "type" : "object",
                "properties" : {
                  "privileges" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "credentialsNonExpired" : {
                    "type" : "boolean"
                  },
                  "jobTitle" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "enabled" : {
                    "type" : "boolean"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "accountNonExpired" : {
                    "type" : "boolean"
                  },
                  "company" : {
                    "type" : "string"
                  },
                  "location" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "accountNonLocked" : {
                    "type" : "boolean"
                  },
                  "username" : {
                    "type" : "string"
                  }
                },
                "description" : "users"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/savings-transaction" : {
      "get" : {
        "description" : "findAllSavingsTransaction",
        "operationId" : "GET_api-v1-savings-transaction",
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "description" : "update",
        "operationId" : "PUT_api-v1-savings-transaction",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "SavingsTransaction",
                "type" : "object",
                "properties" : {
                  "amount" : {
                    "type" : "number"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "type" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "availableBalance" : {
                    "type" : "number"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "user" : {
                    "title" : "NameDto",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "status" : {
                    "type" : "string"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "post" : {
        "description" : "add",
        "operationId" : "POST_api-v1-savings-transaction",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "SavingsTransaction",
                "type" : "object",
                "properties" : {
                  "amount" : {
                    "type" : "number"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "type" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "availableBalance" : {
                    "type" : "number"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "user" : {
                    "title" : "NameDto",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "status" : {
                    "type" : "string"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/orgs/allorgs" : {
      "get" : {
        "description" : "findAllOrgs",
        "operationId" : "GET_api-v1-orgs-allorgs",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "page",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/users/status" : {
      "get" : {
        "description" : "login",
        "operationId" : "GET_api-v1-users-status",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/orgs/{branchId}/users/add-member" : {
      "post" : {
        "description" : "findOrgUsersById",
        "operationId" : "POST_api-v1-orgs-branchId-users-add-member",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Member",
                "type" : "object",
                "properties" : {
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "orgId" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "orgRole" : {
                    "title" : "OrgRole",
                    "type" : "string",
                    "enum" : [ "READ", "WRITE", "ADMIN", "USER", "PROJECT_MANAGER", "ENTERPRISE_ADMIN", "BANK_ACCOUNTANT", "BANK_MANAGER" ]
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "confirmPassword" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "username" : {
                    "type" : "string"
                  }
                },
                "description" : "member"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "parameters" : [ {
        "name" : "branchId",
        "in" : "path",
        "description" : "branchId",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/orgs/{branchId}/users/{userId}" : {
      "put" : {
        "description" : "updateOrgUser",
        "operationId" : "PUT_api-v1-orgs-branchId-users-userId",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "OrgUsers",
                "type" : "object",
                "properties" : {
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "orgRole" : {
                    "title" : "OrgRole",
                    "type" : "string",
                    "enum" : [ "READ", "WRITE", "ADMIN", "USER", "PROJECT_MANAGER", "ENTERPRISE_ADMIN", "BANK_ACCOUNTANT", "BANK_MANAGER" ]
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "org" : {
                    "title" : "NameDto",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "users" : {
                    "title" : "UserMinimalDto",
                    "type" : "object",
                    "properties" : {
                      "jobTitle" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      },
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "company" : {
                        "type" : "string"
                      },
                      "location" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "email" : {
                        "type" : "string"
                      },
                      "username" : {
                        "type" : "string"
                      }
                    }
                  },
                  "status" : {
                    "title" : "Status",
                    "type" : "string",
                    "enum" : [ "INVITED", "ACTIVE", "INACTIVE", "DECLINED", "REMOVED" ]
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "parameters" : [ {
        "name" : "userId",
        "in" : "path",
        "description" : "userId",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "branchId",
        "in" : "path",
        "description" : "branchId",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/issues/product/{projectId}" : {
      "get" : {
        "description" : "findByProjectId",
        "operationId" : "GET_api-v1-issues-product-projectId",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "page",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "parameters" : [ {
        "name" : "projectId",
        "in" : "path",
        "description" : "projectId",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/orgs/{branchId}/users/{userId}/reset-password" : {
      "post" : {
        "description" : "resetPassword",
        "operationId" : "POST_api-v1-orgs-branchId-users-userId-reset-password",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Member",
                "type" : "object",
                "properties" : {
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "orgId" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "orgRole" : {
                    "title" : "OrgRole",
                    "type" : "string",
                    "enum" : [ "READ", "WRITE", "ADMIN", "USER", "PROJECT_MANAGER", "ENTERPRISE_ADMIN", "BANK_ACCOUNTANT", "BANK_MANAGER" ]
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "confirmPassword" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "username" : {
                    "type" : "string"
                  }
                },
                "description" : "member"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "parameters" : [ {
        "name" : "userId",
        "in" : "path",
        "description" : "userId",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      }, {
        "name" : "branchId",
        "in" : "path",
        "description" : "branchId",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/recepient" : {
      "get" : {
        "description" : "findAllRecepients",
        "operationId" : "GET_api-v1-recepient",
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "description" : "update",
        "operationId" : "PUT_api-v1-recepient",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Recepient",
                "type" : "object",
                "properties" : {
                  "description" : {
                    "type" : "string"
                  },
                  "accountNumber" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "phone" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "user" : {
                    "title" : "NameDto",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "email" : {
                    "type" : "string"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "post" : {
        "description" : "addRecepient",
        "operationId" : "POST_api-v1-recepient",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Recepient",
                "type" : "object",
                "properties" : {
                  "description" : {
                    "type" : "string"
                  },
                  "accountNumber" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "phone" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  },
                  "user" : {
                    "title" : "NameDto",
                    "type" : "object",
                    "properties" : {
                      "createdDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "inactive" : {
                        "type" : "boolean"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedDate" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "integer",
                        "format" : "int64"
                      }
                    }
                  },
                  "email" : {
                    "type" : "string"
                  }
                },
                "description" : "request"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/orgs/{id}" : {
      "get" : {
        "description" : "findById",
        "operationId" : "GET_api-v1-orgs-id",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "put" : {
        "description" : "update",
        "operationId" : "PUT_api-v1-orgs-id",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "SIMPLE",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : "Org",
                "type" : "object",
                "properties" : {
                  "orgPlan" : {
                    "title" : "OrgPlan",
                    "type" : "string",
                    "enum" : [ "FREE", "PRO", "TEAM", "BASIC", "BUSINESS", "ENTERPRISE", "PAY_AS_YOU_GO" ]
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "version" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "orgType" : {
                    "title" : "OrgType",
                    "type" : "string",
                    "enum" : [ "PERSONAL", "TEAM", "ENTERPRISE" ]
                  },
                  "createdDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "inactive" : {
                    "type" : "boolean"
                  },
                  "billingEmail" : {
                    "type" : "string"
                  },
                  "createdBy" : {
                    "type" : "string"
                  },
                  "modifiedDate" : {
                    "type" : "string",
                    "format" : "date-time"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "company" : {
                    "type" : "string"
                  },
                  "location" : {
                    "type" : "string"
                  },
                  "modifiedBy" : {
                    "type" : "string"
                  },
                  "id" : {
                    "type" : "string"
                  }
                },
                "description" : "dto"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "delete" : {
        "description" : "delete",
        "operationId" : "DELETE_api-v1-orgs-id",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "204" : {
            "description" : "No Content"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "id",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/orgs/search" : {
      "get" : {
        "description" : "search",
        "operationId" : "GET_api-v1-orgs-search",
        "parameters" : [ {
          "name" : "keyword",
          "in" : "query",
          "description" : "keyword",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/api/v1/transfers/{id}" : {
      "get" : {
        "description" : "findTransfersById",
        "operationId" : "GET_api-v1-transfers-id",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      },
      "delete" : {
        "description" : "deleteById",
        "operationId" : "DELETE_api-v1-transfers-id",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "204" : {
            "description" : "No Content"
          },
          "403" : {
            "description" : "Forbidden"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "id",
        "required" : true,
        "style" : "SIMPLE",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/api/v1/orgs/by-user" : {
      "get" : {
        "description" : "findOrgUsers",
        "operationId" : "GET_api-v1-orgs-by-user",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "page",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "pageSize",
          "required" : false,
          "style" : "FORM",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
[...]
